@charset "UTF-8";
/*em html é id em CSS é #
em html é class em css é .
*/
body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(109, 4, 0);
}
h1#principal{
    text-align: center;
    background-color: rgb(109, 4, 0);
    color: white;

}
h2{
    color: rgb(51, 77, 49);
}
.basico{
    color: rgb(122, 122, 202);
}
.intermediario{
    color: rgb(103, 197, 103);
}
.avancado{
    color: rgb(216, 103, 103);
}
.destaque{
    color: rgb(58, 57, 57);
    background-color: rgb(37, 36, 36);
}