@charset "UTF-8";

/*Todas as demais mídias*/

/* Typical Device Breakpoints
---------------------------------
Pequenas telas: até 600px
Celular: de 600px até 760
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200
*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg);
    }

    min::after{
        content: 'Essa impressão foi fieta através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }
    
    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}

    

}

@media screen and (max-width: 760px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-phone.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
    
}

@media screen and (max-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/icon-pc.png);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}
